<!-- notifications service -->
<!-- <p *ngFor="let msg of notificationsService.messages">{{msg}}</p>
<span class="icon-instagram-photo-camera-logo-outline" (click)='getNotifications()'></span> -->


<!-- social media header -->
<div class="social-media-header shadow-md bg-white rounded col-12 ">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-6 align-items-center">
        <span class="txt-arial-darkGrey-normal-14">تابعنا علي</span>
        <ul class="d-inline-block pr-0 mb-0">
          <li class="mr-4 d-inline-block">
            <a href="https://www.facebook.com/">
              <span class="icon-facebook-logo"></span>
            </a>
          </li>
          <li class="mr-4 d-inline-block">
            <a href="https://www.instagram.com/">
              <span class="icon-instagram-photo-camera-logo-outline"></span>
            </a>
          </li>
          <li class="mr-4 d-inline-block">
            <a href="#">
              <span class="icon-google-plus-logo"></span>
            </a>
          </li>
          <li class="mr-4 d-inline-block">
            <a href="https://twitter.com/">
              <span class="icon-twitter"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- logo header -->
<header class="sticky-top">
  <div class="search-header">
    <div class="container">
      <div class="row align-items-center justify-content-between">
        <div class="col-2 col-md-1">
          <a href="#"
            ><img
              class="img-fluid "
              src="../../assets/imgs/logo-sm.png"
              alt="green house logo"
          /></a>
        </div>
        <div class="col-md-5 col-4">
          <form class="form-inline my-2 my-lg-0" [formGroup]='searchBarForm'>
            <input
              class="form-control mr-sm-2"
              type="search"
              placeholder="ابحث عن نباتك المفضل"
              aria-label="Search"
              formControlName='seachBar'
            />
            <button class="btn-custom-primary my-sm-0" type="submit">
              <i class="fas fa-search"></i>
            </button>
          </form>
        </div>
        <div class="signin-cart col-md-3 col-4 text-left">
          <div class="row align-items-center" >
            <!-- <div class="cart col-4"> -->
            <div class="cart col-4" *ngIf="(userData && userData.role==1) || userData == undefined ">
              <a  (click)=goToCart()><i class="fas fa-shopping-cart" ></i></a>
              <p class="cart-count txt-arial-secondary-bold-14 d-inline-block" *ngIf="totalCartCount>0">
                {{totalCartCount}}
              </p>
            </div>


            <!-- <div class="col-3 notifications">
              <i class="fas fa-bell"></i>
            </div> -->

            <!-- <div class="btn-group col-3 notifications" mdbDropdown>
              <button mdbDropdownToggle type="button" class="dropdown-toggle waves-light" mdbWavesEffect (click)='getNotifications()'>
                <i class="fas fa-bell"></i>
              </button>

              <div class="dropdown-menu dropdown-primary">
                <a class="dropdown-item" *ngFor="let msg of notificationMsgs.all">{{msg}}</a>
              </div>
            </div> -->


            <div class="col-6 text-center">
              <div class="btn-group" mdbDropdown *ngIf="showUserName; else signinBtn">
                <button
                  mdbDropdownToggle
                  type="button"
                  size="sm"
                  class="dropdown-toggle waves-light txt-arial-dark-bold-18"
                  mdbWavesEffect
                >
                  {{ userName }}
                </button>

                <div class="dropdown-menu dropdown-primary">
                  <a class="dropdown-item"
                  (click)='navToFavPlants()'
                  routerLink="/user/favourites"
                  routerLinkActive="active"
                  *ngIf="userData.role == '1'"
                  [queryParams]="{ userId: userData.id}"
                  >نباتاتك المفضلة</a>
                  <a class="dropdown-item"
                  (click)='navToOrders()'
                  routerLink="/user/orders"
                  routerLinkActive="active"
                  [queryParams]="{ userId: userData.id}"
                  >طلباتك</a>
                  <a class="dropdown-item"
                  (click)='navToQuestions()'
                  routerLink="/user/questions"
                  routerLinkActive="active"
                  [queryParams]="{ userId: userData.id}"
                  >اسئلتك</a>
                  <a class="dropdown-item"
                  routerLink="/user/settings"
                  routerLinkActive="active"
                  >الاعدادات</a>
                  <div class="divider dropdown-divider"></div>
                  <a class="dropdown-item" (click)='onSignOut()'>تسجيل الخروج</a>
                </div>
              </div>
              <ng-template #signinBtn>
                <a class="txt-arial-dark-bold-14 signin-link" (click)="onSignIn()">تسجيل الدخول</a>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- main navigation header -->
  <!--Navbar-->
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark">
    <!-- Collapsible content -->
    <links>
      <!-- Links -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a
            class="nav-link waves-light txt-arial-white-bold-18"
            mdbWavesEffect
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >الرئيسية<span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link waves-light txt-arial-white-bold-18 mr-5"
            mdbWavesEffect
            routerLink="/aboutus"
            routerLinkActive="active"
            >من نحن</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link waves-light txt-arial-white-bold-18 mr-5"
            mdbWavesEffect
            routerLink="/forum"
            routerLinkActive="active"
            >المنتدى</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link waves-light txt-arial-white-bold-18 mr-5"
            mdbWavesEffect
            routerLink="/store"
            routerLinkActive="active"
            >المتجر</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link waves-light txt-arial-white-bold-18 mr-5"
            mdbWavesEffect
            routerLink="/contactus"
            routerLinkActive="active"
            >تواصل معنا</a
          >
        </li>
      </ul>
      <!-- Links -->
    </links>
    <!-- Collapsible content -->
  </mdb-navbar>
  <!--/.Navbar-->
</header>
