// import scss files
@import "../../styles.scss";

// social media header
.social-media-header {
    padding: 10px 0;
    border-bottom: 1px solid $separatorTextGreyColor;
    ul {
        list-style: none;
        li {
        //   
          a {
              text-decoration: none;
              span::before {
                  color: $mainTextGreyColor;
              }
              &:hover {
                span::before {
                color: $secondaryColor;
                }
              }
          }  
        }
    }
}

// search heaer
.search-header {
    padding: 10px 0;
    background-color: $whiteColor;
    form {
        input {
            border: none;
            background-color: $separatorTextGreyColor;
            width: 90%;
            height: 38px;
            &::placeholder {
                font-size: 0.8rem;
                color: $lightTextGreyColor;
            }
        }
        button {
            border: none;
            border-radius: 10px 0 0 10px;
            padding: 6px 16px 3px;
            margin-right: -5px;
        }
        .fa-search {
            font-size: 1.2rem;
            color: $whiteColor;
        }
    }
    a {
        text-decoration: none;
        &:hover {
            color: $secondaryColor;
        }        
    }
    .cart {
        background-color: $secondaryColor;
        border-radius: 10px;
        position: relative;
        padding: 8px;
        .fa-shopping-cart {
            color: $whiteColor;
            font-size: 2rem;
            margin-left: 5px;
        }
        p {
            position: absolute;
            right: 45%;
            font-weight: bold;
        }
    }
    .signin-link {
        font-weight: bold;
    }
    button.dropdown-toggle {
        background-color: transparent;
        border: none;
    }
}
::ng-deep .navbar.navbar-expand-lg.navbar-dark {
    background-color: $primaryColor !important;
    padding: 15px 0;
    a.active {
        color: $darkColor !important;
    }
}
    // media queies
@media only screen and (max-width: 768px) {
    .search-header {
        form {
            text-align: left;
            input {
                display: none;
            }
            button {
                border-radius: 10px;
                margin-right: auto;
                background-color: transparent;
                padding: 0;
                i {
                    color: $darkColor;
                }
            }
        }
        .signin-cart {
            .cart {
                background-color: transparent;
                padding: 0;
                i {
                    color: $darkColor;
                }
                p {
                    color: $whiteColor;
                    left: 40%;
                    top: 0%;
                }
            }
        }
    }
}
