<!-- social media header -->
<div class="shadow-sm p-3 mb-2  bg-white rounded col-12 ">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-12">
        <div class="row ">
          <span class="">تابعنا علي</span>
          <a href="https://www.facebook.com/"><i class="fab fa-facebook-f mr-4 pt-1"></i></a>
          <a href="https://www.instagram.com/"><span class="icon-instagram-photo-camera-logo-outline mr-4 pt-1"></span></a>
          <a href="#"><span class="icon-google-plus-logo mr-4 pt-1"></span></a>
          <a href="https://twitter.com/"><i class="fab fa-twitter mr-4 pt-1"></i></a>
        </div>
      </div>
      <div class="col-md-2">
        <a routerLink="/sign-in" class="text-left">تسجيل الدخول</a>
      </div>
    </div>
  </div>
</div>
<!-- logo header -->
<div>
  <div class="container">
    <div class="row">
      <a routerLink="/landingPage" class="col-md-1 col-3 pr-0"><img class="img-fluid " src="../../assets/imgs/logo@2x.png" alt=""></a>
    </div>
  </div>
</div>
