// import scss files
@import "../../styles.scss";

footer {
    background-color: $primaryColor;
    padding: 2rem 0;
    ul li span::before {
        color: $whiteColor;
        border: 1px solid $whiteColor;
        border-radius: 50%;
        padding: 7px;
        font-size: 1.5rem;
    }
    ul li:hover span::before {
        background-color: $secondaryColor;
        border-color: $secondaryColor;
    }
}