<footer>
  <div class="container m-auto text-center">
    <div class="social-icons mb-4">
      <ul class="d-inline-block pr-0 mb-0">
        <li class="mr-4 d-inline-block">
          <a href="https://www.facebook.com/">
            <span class="icon-facebook-logo"></span>
          </a>
        </li>
        <li class="mr-4 d-inline-block">
          <a href="https://www.instagram.com/">
            <span class="icon-instagram-photo-camera-logo-outline"></span>
          </a>
        </li>
        <li class="mr-4 d-inline-block">
          <a href="#">
            <span class="icon-google-plus-logo"></span>
          </a>
        </li>
        <li class="mr-4 d-inline-block">
          <a href="https://twitter.com/">
            <span class="icon-twitter"></span>
          </a>
        </li>
      </ul>
    </div>
    <div class="copyrights">
      <p class="txt-arial-white-normal-14 mb-0">جميع الحقوق محفوظة &copy; جرين هاوس</p>
    </div>
  </div>
</footer>
