@import '../../../styles.scss';

input[type='number'] {
    display: inline-block;
    width: 40%;
}
span, label {
    margin-right: 7px;
}
.empty-order-error {
    color: red;
    font-weight: bold;
}