<div class="container">
  <div class="row">
      <div class="col-12 text-center"><h2>النباتات </h2></div>
      <div class="col-12 text-center">
          <ul class="nav justify-content-center">
              <li class="nav-item">
                <a class="nav-link active" (click)="buttonOneClick($event)" >الأكثر رواجا</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" (click)="buttonTwoClick($event)" >الخضروات</a>
              </li>
              <li class="nav-item">
                <button class="nav-link"(click)="buttonClick($event)">الفواكه</button>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">أعشاب المطبخ</a>
                </li>
               <li class="nav-item">
                <a class="nav-link" href="#">الورود</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">أشجار الزينة</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">العطريات</a>
              </li>

            </ul>
      </div>

      <ngb-carousel *ngIf="images">
          <ng-template ngbSlide>
            <div class="row">

              <div class="col-3">
                  <img src="../../assets/imgs/landingPage/categories-silder/rose-mery1.png" alt="Random first slide">
                  <div class="carousel-caption">
                    <p>روزمارى</p>
                  </div>
              </div>
              <div class="col-3">
                  <img src="../../assets/imgs/landingPage/categories-silder/rose-mery1.png" alt="Random first slide">
                  <div class="carousel-caption">
                    <p>روزمارى</p>
                  </div>
              </div>
              <div class="col-3">
                  <img src="../../assets/imgs/landingPage/categories-silder/rose-mery1.png" alt="Random first slide">
                  <div class="carousel-caption">
                    <p>روزمارى</p>
                  </div>
              </div>
              <div class="col-3">
                  <img src="../../assets/imgs/landingPage/categories-silder/rose-mery1.png" alt="Random first slide">
                  <div class="carousel-caption">
                    <p>روزمارى</p>
                  </div>
              </div>
            </div>

          </ng-template>
          <ng-template ngbSlide>
              <div class="row">

                  <div class="col-3">
                      <img src="../../assets/imgs/landingPage/categories-silder/mint1.png" alt="Random first slide">
                      <div class="carousel-caption">
                        <p>روزمارى</p>
                      </div>
                  </div>
                  <div class="col-3">
                      <img src="../../assets/imgs/landingPage/categories-silder/mint1.png" alt="Random first slide">
                      <div class="carousel-caption">
                        <p>روزمارى</p>
                      </div>
                  </div>
                  <div class="col-3">
                      <img src="../../assets/imgs/landingPage/categories-silder/mint1.png" alt="Random first slide">
                      <div class="carousel-caption">
                        <p>روزمارى</p>
                      </div>
                  </div>
                  <div class="col-3">
                      <img src="../../assets/imgs/landingPage/categories-silder/mint1.png" alt="Random first slide">
                      <div class="carousel-caption">
                        <p>روزمارى</p>
                      </div>
                  </div>
                </div>
          </ng-template>
          <div class="row">
              <ng-template ngbSlide class="col-3">

                  <img src="../../assets/imgs/landingPage/categories-silder/mint1.png"  alt="Random third slide">
                  <div class="carousel-caption">

                    <p>This carousel uses customized default values.</p>
                  </div>
                </ng-template>
                <ng-template ngbSlide class="col-3">

                    <img src="../../assets/imgs/landingPage/categories-silder/rose-mery1.png"  alt="Random third slide">
                    <div class="carousel-caption">

                      <p>This carousel uses customized default values.</p>
                    </div>
                  </ng-template>
                  <ng-template ngbSlide class="col-3">

                      <img src="../../assets/imgs/landingPage/categories-silder/mint1.png"  alt="Random third slide">
                      <div class="carousel-caption">

                        <p>This carousel uses customized default values.</p>
                      </div>
                    </ng-template>
                    <ng-template ngbSlide class="col-3">

                        <img src="../../assets/imgs/landingPage/categories-silder/rose-mery1.png"  alt="Random third slide">
                        <div class="carousel-caption">

                          <p>This carousel uses customized default values.</p>
                        </div>
                      </ng-template>
            </div>

          <ng-template ngbSlide>
            <img [src]="images[3]" alt="Random fourth slide">
            <div class="carousel-caption">
              <h3>And no wrap after last slide.</h3>
              <p>This carousel uses customized default values.</p>
            </div>
          </ng-template>
        </ngb-carousel>

  </div>
</div>
