<div class="plants-categories sec-style" *ngIf="plantCatRes">
  <div class="container m-auto">
    <div class="sec-title">
      <h3 class="text-center">النباتات</h3>
    </div>
    <ul class="nav justify-content-center py-4" id="plant-categories">
        <li class="nav-item mx-4 category" *ngFor="let cat of plantCatRes.category">
            <a class="nav-link active txt-arial-dark-bold-24" (click)='showCatPlants($event)' id={{cat.id}}><b>{{cat.name}}</b></a>
        </li>
    </ul>
    <div class="plantsGallery">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-6" *ngFor="let plant of plantCatRes.plant">
            <!-- <app-single-plant [singlePlant] ='plant'></app-single-plant> -->
            <app-single-plant [userRole]="userRole" [singlePlant] = plant></app-single-plant>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
