// fonts
%txt-samt-primary-100 {
    @include text($samt, $rootFontSize*7, $primaryColor, normal);
}
%txt-samt-dark-120 {
    @include text($samt, $rootFontSize*7.5, $darkColor, normal);
}
%txt-diwany-dark-50 {
    @include text($diwany, $rootFontSize*3.1, $darkColor, normal);
}
%txt-diwany-dark-24 {
    @include text($diwany, $rootFontSize*1.5, $darkColor, normal);
}
%txt-diwany-primary-24 {
    @include text($diwany, $rootFontSize*1.5, $primaryColor, normal);
}
%txt-kaushan-primary-60 {
    @include text($kaushScript, $rootFontSize*4, $secondaryColor, normal);
}
%txt-arial-primary-bold-14 {
    @include text('Arial, Helvetica, sans-serif', $rootFontSize*0.9, $primaryColor, bold);
}
%txt-arial-secondary-bold-14 {
    @include text('Arial, Helvetica, sans-serif', $rootFontSize*0.9, $secondaryColor, bold);
}
%txt-arial-dark-bold-14 {
    @include text('Arial, Helvetica, sans-serif', $rootFontSize*0.9, $darkColor, bold);
}
%txt-arial-dark-bold-30 {
    @include text('Arial, Helvetica, sans-serif', $rootFontSize*1.9, $darkColor, bold);
}
%txt-arial-dark-bold-24 {
    @include text('Arial, Helvetica, sans-serif', $rootFontSize*1.5, $darkColor, bold);
}
%txt-arial-dark-bold-20 {
    @include text('Arial, Helvetica, sans-serif', $rootFontSize*1.3, $darkColor, bold);
}
%txt-arial-primary-bold-24 {
    @include text('Arial, Helvetica, sans-serif', $rootFontSize*1.5, $primaryColor, bold);
}
%txt-arial-darkGrey-normal-24 {
    @include text('Arial, Helvetica, sans-serif', $rootFontSize*1.5, $mainTextGreyColor, normal);
}
%txt-arial-darkGrey-bold-24 {
    @include text('Arial, Helvetica, sans-serif', $rootFontSize*1.5, $mainTextGreyColor, bold);
}
%txt-arial-lightGrey-bold-24 {
    @include text('Arial, Helvetica, sans-serif', $rootFontSize*1.5, $lightTextGreyColor, bold);
}
%txt-arial-lightGrey-bold-30 {
    @include text('Arial, Helvetica, sans-serif', $rootFontSize*1.5, $lightTextGreyColor, bold);
}
%txt-arial-faintGrey-normal-24 {
    @include text('Arial, Helvetica, sans-serif', $rootFontSize*1.5, $faintTextGreyColor, normal);
}
%txt-arial-lightGrey-normal-14 {
    @include text('Arial, Helvetica, sans-serif', $rootFontSize*0.9, $lightTextGreyColor, normal);
}
%txt-arial-darkGrey-normal-14 {
    @include text('Arial, Helvetica, sans-serif', $rootFontSize*0.9, $mainTextGreyColor, normal);
}
%txt-arial-faintGrey-normal-18 {
    @include text('Arial, Helvetica, sans-serif', $rootFontSize*1.1, $faintTextGreyColor, normal);
}
%txt-arial-white-bold-18 {
    @include text('Arial, Helvetica, sans-serif', $rootFontSize*1.1, $whiteColor, bold);
}
%txt-arial-white-normal-14 {
    @include text('Arial, Helvetica, sans-serif', $rootFontSize*1, $whiteColor, normal);
}
%txt-arial-secondary-bold-18 {
    @include text('Arial, Helvetica, sans-serif', $rootFontSize*1.1, $secondaryColor, bold);
}
%txt-arial-darkGrey-normal-20 {
    @include text('Arial, Helvetica, sans-serif', $rootFontSize*1.1, $mainTextGreyColor, bold);
}
%txt-arial-lightGrey-normal-20 {
    @include text('Arial, Helvetica, sans-serif', $rootFontSize*1.1, $lightTextGreyColor, bold);
}
%txt-arial-dark-bold-50 {
    @include text('Arial, Helvetica, sans-serif', $rootFontSize*3.1, $darkColor, bold);
}
%txt-arial-dark-bold-30 {
    @include text('Arial, Helvetica, sans-serif', $rootFontSize*2, $darkColor, bold);
}
// general lay out
%sec-layout {
    padding: 3.1rem 0;
    .sec-title h3 {
        @extend %txt-diwany-dark-50;
        margin-bottom: 2rem;
    }
}
%primary-btn {
    background-color: $secondaryColor;
    @extend %txt-arial-white-bold-18;
}
%ghost-btn {
    background-color: transparent;
    @extend %txt-arial-secondary-bold-18;
}
%text-btn {
    background-color: transparent;
    border: none !important;
    @extend %txt-arial-secondary-bold-18;
}
%btn-style {
    padding: 5px 20px;
    border: 1px solid $secondaryColor;
    border-radius: 15px;
    outline: none;
    &:active {
        box-shadow: 5px 5px 10px 0px rgba(186,179,186,1);
        transform: translate(-3px, -3px);
        transition-duration: 0.2s;
    }
}