// colors
$primaryColor: #36C488;
$secondaryColor: #FF825C;
$darkColor: #2A6652;
$mainTextGreyColor: #666666;
$lightTextGreyColor: #999999;
$faintTextGreyColor: #CBCBCB;
$separatorTextGreyColor: #E4E4E4;
$whiteColor: #ffffff;
$blackColor: #000000;
$redColor: #ff0000;
// fonts family
$diwany: 'diwany-normal';
$samt: 'samt-normal';
$kaushScript: 'kaushScript-normal';
// font size
$htmlFontSize: 14px;
$rootFontSizeMobile: 8px;
$rootFontSize: 1rem;
