<div class="plant text-center">
  <div class="plant-img">
    <img src={{singlePlant.image}} class="img-fluid">
    <div class="overlay">
      <div class="icons">
          <i class="fas fa-eye" (click)='showPlantDetails()'></i>
          <i *ngIf="userRole==2" class="far fa-comment-alt" (click)='openBackDropCustomClass(addCommentModal)'></i>
          <i *ngIf="userRole==2" class="fas fa-trash" (click)='openBackDropCustomClass(deletePlantModal)'></i>
          <i *ngIf="userRole==1" class="fas fa-heart" (click)='toggleFav($event)'></i>
      </div>
    </div>
  </div>
  <p class="txt-arial-dark-bold-20"><b>{{singlePlant.name}}</b></p>
</div>

<div class="row">

    <ng-template #addCommentModal let-modal>
        <div class="modal-header">
          <h4 class="modal-title">اسأل</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>One fine body&hellip;</p>
        </div>
        <form [formGroup]="plantCommentForm" (ngSubmit)="submitPlantComment(plantCommentForm)">
            <textarea type="text"  formControlName="plantComment" class="form-control"></textarea>
            <div class="modal-footer">
                <button type="submit" class="btn btn-light">ارسل</button>
                <button type="button" class="btn btn-light" (click)="modal.close('Close click')">اغلق</button>
            </div>
        </form>
      </ng-template>
</div>

<div class="row">
    <ng-template #deletePlantModal let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Delete Plant</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Would You Like to delete this plant from your listings?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="deletePlant()">Yes</button>
            <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">No</button>
          </div>
        </ng-template>


  </div>
