// import scss files
@import "../../../styles";

.signup-form {
    .form {
        margin-right: 15%;
    }
    .logo {
        cursor: pointer;
    }
    input, select {
        border: none;
        border-bottom: 1px solid $darkColor;
        display: inline-block !important;
        width: 70%;
        &[formControlName="userName"] {
            margin-right: 20%;
        }
        &[formControlName="userEmail"] {
            margin-right: 5%;
        }
        &[formControlName="password"] {
            margin-right: 12%;
        }
        &[formControlName="confirmPassword"] {
            margin-right: 5%;
        }
        &[formControlName="country"] {
            margin-right: 19%;
        }
        &[formControlName="gender"][value="female"] {
            margin-right: 10%;
        }
        &[formControlName="gender"] {
            width: 5%;
        }
        &#datePicker {
            margin-right: 12%;
            width: 64%;
        }
    }
    .ng-invalid.ng-touched {
        border-color: $redColor;
    }
    button[disabled] {
        background-color: #fcb7a4;
        border-color: #fcb7a4;
    }
    
    .error-msg {
        color: $redColor;
        margin-right: 30%;
    }
    a {
        color: $primaryColor;
        font-weight: bold;
    }
    .logo-mob {
        display: none;
    }
}

// media queries
@media only screen and (max-width: 768px) {
    .signup-form {
        .txt-samt-dark-120 {
            font-size: 5rem;
        }
        .form {
            text-align: right;
            margin-right: 0%;
        }
        input, select {
            display: block !important;
            margin-right: 0% !important;
            width: 100% !important;
        }
        input[type='radio'] {
            display: inline-block !important;
            width: 5% !important;
            &[formControlName="gender"][value="female"] {
                margin-right: 10% !important;
            }
        }
        .logo-mob {
            display: block;
        }
        .logo-lg {
            display: none;
        }
        #datePicker {
            width: 83% !important;
            display: inline-block !important;
        }
        // .btn-custom-primary {
        //     margin-right: 35%;
        // }
    }
}