<div class="signup-form">
  <div class="container m-auto py-5">
    <div class="row align-items-center">
      <div class="col-md-4 logo text-center" (click)='goToHome()'>
        <div class="row">
          <div class="col-md-12 col-3 m-auto">
            <img src="../../../assets/imgs/logo-lg.png" alt="LOGO" class="img-fluid mb-5 logo-lg">
            <img src="../../../assets/imgs/logomob.png" alt="LOGO" class="img-fluid mb-5 logo-mob m-auto">
          </div>
          <div class="col-md-12">
            <h2 class="txt-samt-dark-120">جرين هاوس</h2>
          </div>
        </div>
      </div>
      <div class="col-10 col-md-6 form">
        <h3 class="txt-arial-dark-bold-50 mb-5">انشاء حساب جديد</h3>
        <div class="form-container">
          <form
            [formGroup]="signupForm"
            (ngSubmit)="onSignup(signupForm)"
          >
          <!-- name input -->
          <div class="form-group mb-5">
            <label class="txt-arial-dark-bold-24">
              الاسم
            </label>
            <input
              type="text"
              formControlName="userName"
              class="form-control"
            />
            <div *ngIf="userName.invalid && (userName.dirty || userName.touched)">
              <div *ngIf="userName.errors.required" class="error-msg">
                يجب ملء خانة الاسم
              </div>
            </div>
          </div>
            <!-- email input-->
          <div class="form-group mb-5">          
            <label class="txt-arial-dark-bold-24">
              بريدك الإليكترونى
            </label>
            <input
              type="email"
              formControlName="userEmail"
              class="form-control"
            />
            <div *ngIf="userEmail.invalid && (userEmail.dirty || userEmail.touched)">
                <div *ngIf="userEmail.errors.required" class="error-msg">
                    يجب ملء خانة البريد الاليكترونى
                </div>
                <div *ngIf="userEmail.errors.email" class="error-msg">
                    البريد الاليكترونى يجب ان يكون صحيحا
                </div>
              </div>
              </div>
              <!-- password input -->
            <div class="form-group mb-5">
              <label class="txt-arial-dark-bold-24">
                كلمة المرور
              </label>
              <input
                type="password"
                formControlName="password"
                class="form-control"
                id="password"
              />
              <div *ngIf="password.invalid && (password.dirty || password.touched)">
                  <div *ngIf="password.errors.required" class="error-msg">
                    يجب ملء خانة كلمة المرور
                  </div>
                  <div *ngIf="password.errors.minlength" class="error-msg">
                    البريد الاليكترونى يجب ان يكون 6 حروف على الاقل
                  </div>
                </div>
                </div>
            <div class="form-group mb-5">              
              <label class="txt-arial-dark-bold-24">
                تأكيد كلمة المرور
              </label>
              <input
                type="password"
                formControlName="confirmPassword"
                class="form-control"
                id="confirmPassword"
              />
              <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">
                  <div *ngIf="confirmPassword.errors.required" class="error-msg">
                    يجب ملء خانة كلمة المرور
                  </div>
                  <div *ngIf="confirmPassword.errors.equalTo" class="error-msg">
                     تأكيد كلمة المرور يجب ان يطابق كلمة المرور
                  </div>
                </div>
            </div>
            <!-- country input -->
            <div class="form-group mb-5">
              <label class="txt-arial-dark-bold-24">
                المدينة
              </label>
              <select id="country" formControlName="country">
                <option *ngFor="let c of countries" [ngValue]="c">{{ c }}</option>
              </select>
              <div *ngIf="country.invalid && (country.dirty || country.touched)">
                <div *ngIf="country.errors.required" class="error-msg">
                  يجب اختيار المدينة
                </div>
              </div>
            </div>
            <!-- birthdate input -->
            <div class="form-group mb-5">
                <label class="txt-arial-dark-bold-24">
                    تاريخ الميلاد
                  </label>
                  <!-- <mat-form-field> -->
                      <input [matDatepicker]="picker" id="datePicker" formControlName="birthDate">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker startView="year"></mat-datepicker>
                    <!-- </mat-form-field> -->
              </div>
            <br />
            <input
              type="radio"
              formControlName="gender"
              value="male"
              checked
            />
            ذكر
            <input
              type="radio"
              formControlName="gender"
              value="female"
            />
            أنثي
            <br />
            <div class="row">
              <div class="col-12 text-center">
                <button type="submit" class="btn-custom btn-custom-primary my-5" [disabled]="signupForm.invalid">
                  انشاء حساب
                </button>
              </div>
            </div>
          </form>
          <small> لديك حساب ؟ قم </small>
          <a routerLink="/auth/signin" queryParamsHandling="preserve">بتسجيل الدخول الآن</a>
        </div>
      </div>
    </div>
  </div>
</div>