<ngb-carousel >
    <ng-template ngbSlide class="col-12">
      <img class="img-fluid" src="../../assets/imgs/landingPage/firstCarosle/bg-plant-1.png" alt="">
      <!-- <img class="position-relative " src="../../assets/imgs/landingPage/firstCarosle/plant1.png" alt=""> -->
      <div class="carousel-caption">
        <h3>جرين هاوس</h3>
        <p>لوريم ايبسوم دولار سيت أميت ,كونسيكتيتور أدايبا يسكينج أليايت,سيت دو أيوسمود تيمبور
            أنكايديديونتيوت لابوري ات دولار ماجنا أليكيوا . يوت انيم أد مينيم فينايم,كيواس نوستريد </p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
        <img class="" src="../../assets/imgs/landingPage/firstCarosle/bg2-2.jpg" alt="">
        <!-- <img src="../../assets/imgs/landingPage/firstCarosle/bg2.png" alt=""> -->
        <div class="carousel-caption ">
          <h3>جرين هاوس</h3>
          <p>لوريم ايبسوم دولار سيت أميت ,كونسيكتيتور أدايبا يسكينج أليايت,سيت دو أيوسمود تيمبور
              أنكايديديونتيوت لابوري ات دولار ماجنا أليكيوا . يوت انيم أد مينيم فينايم,كيواس نوستريد </p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <img  class="" src="../../assets/imgs/landingPage/firstCarosle/bg3-3.jpg" alt="">
        <!-- <img src="../../assets/imgs/landingPage/firstCarosle/bg2.png" alt=""> -->
        <div class="carousel-caption">
          <h3>جرين هاوس</h3>
          <p>لوريم ايبسوم دولار سيت أميت ,كونسيكتيتور أدايبا يسكينج أليايت,سيت دو أيوسمود تيمبور
              أنكايديديونتيوت لابوري ات دولار ماجنا أليكيوا . يوت انيم أد مينيم فينايم,كيواس نوستريد </p>
        </div>
    </ng-template>
  </ngb-carousel>
