// import scss files
@import "../../../styles";

.media {
    i {
        color: $primaryColor;
        font-size: 100px;
        border: 3px solid $primaryColor;
        padding: 1.8rem;
    }
    p.signature::before {
        display: inline-block;
        margin: 0 10px;
        height: 3px;
        content: " ";
        text-shadow: none;
        background-color: $secondaryColor;
        width: 3rem;
    }
}
@media only screen and (max-width: 768px) {
    .media {
        i {
            display: none;
        }
    }
}

