<section class="plant-details-sec" *ngIf="plantDetailsObj; else loading">
  <div class="container m-auto border-bottom pb-5">
    <div class="bread-crumps text-right py-4">
      <p class="txt-arial-dark-bold-14">
        <span class="ml-2"
          ><a routerLink="/" class="txt-arial-dark-bold-14"> الرئيسية</a></span
        >
        <i class="fas fa-chevron-left ml-2"></i>
        <span class="txt-arial-primary-bold-14">روزمارى </span>
      </p>
    </div>
    <div class="row">
      <div class="plant-name col-12">
        <div class="row">
          <div class="col-5 col-md-2">
            <img
              src="https://picsum.photos/id/98/200/300"
              alt=""
              class="img-fluid"
            />
          </div>
          <div class="col-7 col-md-3 mr-md-5">
            <ul class="plant-main-info text-right pr-0">
              <li class="mb-3">
                <p class="txt-arial-darkGrey-normal-24">
                  <span class="icon-plantation ml-2" title="الاسم"></span>
                  {{ plantDetailsObj.plant.plant_name }}
                </p>
              </li>
              <li class="mb-3">
                <p class="txt-arial-darkGrey-normal-24">
                  <span class="icon-plant ml-2" title="النوع"></span>
                  {{ plantDetailsObj.plant.plant_category_name }}
                </p>
              </li>
              <li class="mb-3">
                <p class="txt-arial-darkGrey-normal-24">
                  <span class="icon-lighting ml-2" title="الموسم"></span>
                  {{ plantDetailsObj.plant.plant_season }}
                </p>
              </li>
              <li class="mb-3">
                <p class="txt-arial-darkGrey-normal-24">
                  <span class="icon-planting1 ml-2" title="التربة"></span>
                  {{ plantDetailsObj.plant.plant_soil_name }}
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="plant-extra-data col-12">
        <div class="plant-method  mb-3">
          <details>
            <summary class="txt-arial-dark-bold-24">طريقة الزراعة</summary>
            <p>
              {{ plantDetailsObj.plant.plant_steps }}
            </p>
          </details>
        </div>
        <div class="plant-extra-info  mb-3">
          <details>
            <summary class="txt-arial-dark-bold-24">معلومات إضافية</summary>
            <ul>
              <li>
                <p>
                  <span>:الرطوبة</span>
                  {{ plantDetailsObj.plant.plant_humidity }}
                </p>
              </li>
              <li>
                <p>
                  <span>:الرياح</span>
                  {{ plantDetailsObj.plant.plant_wind }}
                </p>
              </li>
              <li>
                <p>
                  <span>:الرى</span>
                  {{ plantDetailsObj.plant.plant_irrigation }}
                </p>
              </li>
              <li>
                <p>
                  <span>:الإضاءة</span>
                  {{ plantDetailsObj.plant.plant_lightning }}
                </p>
              </li>
              <li>
                <p>
                  <span>:الأسمدة</span>
                  <span *ngFor="let fert of plantDetailsObj.plant.plant_fertilizers.fertilizer">
                    {{ fert }},
                  </span>
                </p>
              </li>
              <li>
                <p>
                  <span>:معلومات إضافية</span>
                  {{ plantDetailsObj.plant.plant_information }}
                </p>
              </li>
            </ul>
          </details>
        </div>
      </div>
    </div>
  </div>
</section>
<ng-template #loading>
  <app-loading-screen></app-loading-screen>
</ng-template>
