<div class="modal-content text-right">
    <div class="modal-header">
      <h4 class="modal-title w-100 txt-arial-dark-bold-20" id="myModalLabel">{{ heading }}</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body txt-arial-lightGrey-normal-20">
      <p>هم بالتسجيل الآن لتستمتع بأفضل العروض والمنتجات</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn-custom btn-custom-text" mdbWavesEffect (click)='navigateToSignIn()'>تسجيل الدخول</button>
    </div>
  </div>