// import scss files
@import "../../styles.scss";
.card .card-body .card-text{
  font-family: "Arial, Helvetica, sans-serif" !important;
    font-size: 1.3rem !important;
    color: #2A6652 !important;
    line-height: 2.1034rem !important;
    font-weight: bold !important;
}
.order-style{
  font-family: "diwany-normal";
  font-size: 1.5rem;
  color:$darkColor !important;
  line-height: 2.427rem;
  font-weight: bold !important;
}
.sass-color-btm-orders{
  background-color:$primaryColor!important;
  border:none !important;
  color:white;
}
