<div class="container">
  <div class="bread-crumps">
    <p>
      <span><a> الرئيسية</a></span>
      <i class="fas fa-chevron-left"></i>
      <span>روزمارى </span>
    </p>
  </div>
  <div class="plant-details row">
    <div class="plant-name col-12">
      <div class="row">
        <div class="col-2">
          <img src="https://picsum.photos/id/98/200/300" alt="" />
        </div>
        <div class="col-3">
          <ul>
            <li>
              <p>
                <span class="icon-plantation"></span>
                روزمارى
              </p>
            </li>
            <li>
              <p>
                <span class="icon-plant"></span>
                أعشاب مطبخ
              </p>
            </li>
            <li>
              <p>
                <span class="icon-lighting"></span>
                طوال السنة
              </p>
            </li>
            <li>
              <p>
                <span class="icon-planting1"></span>
                تربة زراعية
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
