<app-landing-page-carousels></app-landing-page-carousels>
<app-plant-categories></app-plant-categories>
<button class="btn-custom btn-custom-primary mb-2 mr-2 fixed-bottom" (click)="openBackDropCustomClass(content)">أضف نبات جديد</button>


<ng-template #content let-modal>
  <div class="modal-header add-new-plant-modal-header">
    <h4 class="modal-title">أضف إلى نباتاتك</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center  add-new-plant-modal-body">
    <div class="add-old-plant-div">
      <button class="txt-arial-secondary-bold-18 tab-btn active" id="old-plant-btn" name='add-old-plant' (click)='showTabForm($event)'>اختار من مجموعة نباتاتنا</button>      
    </div>
    <div class="add-new-plant-div">
      <button class="txt-arial-secondary-bold-18 tab-btn" id="new-plant-btn" name='add-new-plant' (click)='showTabForm($event)'>أضف نبات جديد</button>      
    </div>
    <div class="add-plant-form" id="add-old-plant">
        <form [formGroup]="addOldPlantForm" (ngSubmit)="onAddOldPlant(addOldPlantForm)">
          <div class="form-group mb-5">
            <label class="txt-arial-dark-bold-16">
              فئة النبات
            </label>
            <select id="oldPlantCategory" formControlName="oldPlantCategory" placeholder='اختر فئة النبات' (change)='onSelectCategory()'>
              <option *ngFor="let cat of plantCategories.category" [ngValue]="cat.name">{{ cat.name }}</option>
            </select>
            <div *ngIf="oldPlantCategory.invalid && (oldPlantCategory.dirty || oldPlantCategory.touched)">
              <div *ngIf="oldPlantCategory.errors.required" class="error-msg">
                يجب اختيار فئة النبات
              </div>
            </div>
          </div>
          <div class="form-group mb-5">
            <label class="txt-arial-dark-bold-16">
              اسم النبات
            </label>
            <select id="newPlantName" formControlName="oldPlantName" placeholder='اختر فئة النبات' disabled>
            <!-- <select id="plantCategory" formControlName="oldPlantName" placeholder='اختر فئة النبات' [disabled]='oldPlantCategory.invalid'> -->
              <option *ngFor="let plant of catPlants.plant" [ngValue]="plant.name">{{ plant.name }}</option>
            </select>
            <div *ngIf="oldPlantName.invalid && (oldPlantName.dirty || oldPlantName.touched)">
              <div *ngIf="oldPlantName.errors.required" class="error-msg">
                يجب اختيار اسم النبات
              </div>
            </div>
          </div>
          <div class="form-group mb-5 row mb-3">
              <div class="col-3 type-checkbox">
                  <input type="checkbox" formControlName='oldGraftCheckbox' name='graft' (click)='enableQtyInput($event)'>
                  <label for='graft' class="txt-arial-darkGrey-normal-20">{{item.arType}}</label>
                </div>
                <div class="col-3 price">
                  <span class="txt-arial-darkGrey-normal-20" id={{item.priceName}}>{{item.price}}</span>
                  <span class="txt-arial-darkGrey-normal-20">جنيه</span>
                </div>
                <div class="col-6 qty-input">
                  <input type="number" formControlName={{item.inputCName}} class="form-control" mdbInput min="0" id={{item.type}}  disabled>
                  <span class="txt-arial-darkGrey-normal-20" *ngIf="item.type=='graft'">الشراء بالوحدة</span>
                  <span class="txt-arial-darkGrey-normal-20" *ngIf="item.type=='seeds'">الشراء بالكيلوجرام</span>
                  <span class="txt-arial-darkGrey-normal-20" *ngIf="item.type=='soil'">الشراء بالكيلوجرام</span>
                  <span class="txt-arial-darkGrey-normal-20" *ngIf="item.type=='fert'">الشراء بالكيلوجرام</span>
                </div>
          </div>
        
          <button type="submit">Send</button>
        </form>
    </div>
    <div class="add-plant-form" id="add-new-plant">
      dfgfdgfdgfdgfdgfgfdsfdgvdfgf
        <!-- <form [formGroup]="addNewPlantForm" (ngSubmit)="onAddNewPlant(myForm)">
          <input formControlName="name" placeholder="Your name">
          <input formControlName="email" placeholder="Your email">
          <input formControlName="message" placeholder="Your message">
        
          <button type="submit">Send</button>
        </form> -->
    </div>
  </div>
  <div class="modal-footer">
    dgfgfdgdfg
  </div>
</ng-template>
