<div class="plantations-adds sec-style">
  <div class="container">
    <div class="sec-title">
      <h3 class="text-center">استمتع الآن بأفضل عروضنا</h3>
    </div>
    <div class="row">
      <div class="col-12 m-auto">

        <div class="main-add-carousel">
          <mdb-carousel [isControls]="false" [animation]="'slide'" #myCarousel>
            <mdb-carousel-item>
              <img class="d-block w-100" src="../../../assets/imgs/landingPage/adds/Group 79.png" alt="First slide">
              <div class="carousel-caption">
                <h4 class="h3-responsive txt-diwany-primary-24">
                  مشتل البلكونة
                </h4>
                <p class="txt-arial-lightGrey-normal-20 txt-arial-dark-bold-30">
                  احصل علي خصم
                  <span class="txt-kaushan-primary-60"> 30%</span> عند الشراء
                </p>
                <p class="txt-arial-lightGrey-normal-20">
                  العرض متاح لمدة أسبوع ابتداء من 31/5
                </p>
                <button class="btn-custom btn-custom-primary">اطلب الآن</button>
              </div>
            </mdb-carousel-item>
            <mdb-carousel-item>
              <img class="d-block w-100" src="../../../assets/imgs/landingPage/adds/Group 80.png" alt="Second slide">
              <div class="carousel-caption">
                <h4 class="h3-responsive txt-diwany-primary-24">
                  مشتل البلكونة
                </h4>
                <p class="txt-arial-lightGrey-normal-20 txt-arial-dark-bold-30">
                  احصل علي خصم
                  <span class="txt-kaushan-primary-60"> 30%</span> عند الشراء
                </p>
                <p class="txt-arial-lightGrey-normal-20">
                  العرض متاح لمدة أسبوع ابتداء من 31/5
                </p>
                <button class="btn-custom btn-custom-primary">اطلب الآن</button>
              </div>
            </mdb-carousel-item>
            <mdb-carousel-item>
              <img class="d-block w-100" src="../../../assets/imgs/landingPage/adds/Group 81.png" alt="Third slide">
              <div class="carousel-caption">
                <h4 class="h3-responsive txt-diwany-primary-24">
                  مشتل البلكونة
                </h4>
                <p class="txt-arial-lightGrey-normal-20 txt-arial-dark-bold-30">
                  احصل علي خصم
                  <span class="txt-kaushan-primary-60"> 30%</span> عند الشراء
                </p>
                <p class="txt-arial-lightGrey-normal-20">
                  العرض متاح لمدة أسبوع ابتداء من 31/5
                </p>
                <button class="btn-custom btn-custom-primary">اطلب الآن</button>
              </div>
            </mdb-carousel-item>
          </mdb-carousel>
        </div>
        <div class="mobile-add-carousel">
          <mdb-carousel [isControls]="false" [animation]="'slide'" #myCarousel>
            <mdb-carousel-item>
              <img class="d-block w-100" src="../../../assets/imgs/landingPage/adds/Group 84.png" alt="First slide">
              <div class="carousel-caption">
                <h4 class="h3-responsive txt-diwany-primary-24">
                  مشتل البلكونة
                </h4>
                <p class="txt-arial-lightGrey-normal-20 txt-arial-dark-bold-30">
                  احصل علي خصم
                  <span class="txt-kaushan-primary-60"> 30%</span> عند الشراء
                </p>
                <p class="txt-arial-lightGrey-normal-20">
                  العرض متاح لمدة أسبوع ابتداء من 31/5
                </p>
                <button class="btn-custom btn-custom-primary">اطلب الآن</button>
              </div>
            </mdb-carousel-item>
            <mdb-carousel-item>
              <img class="d-block w-100" src="../../../assets/imgs/landingPage/adds/Group 84.png" alt="First slide">
              <div class="carousel-caption">
                <h4 class="h3-responsive txt-diwany-primary-24">
                  مشتل البلكونة
                </h4>
                <p class="txt-arial-lightGrey-normal-20 txt-arial-dark-bold-30">
                  احصل علي خصم
                  <span class="txt-kaushan-primary-60"> 30%</span> عند الشراء
                </p>
                <p class="txt-arial-lightGrey-normal-20">
                  العرض متاح لمدة أسبوع ابتداء من 31/5
                </p>
                <button class="btn-custom btn-custom-primary">اطلب الآن</button>
              </div>
            </mdb-carousel-item>
            <mdb-carousel-item>
              <img class="d-block w-100" src="../../../assets/imgs/landingPage/adds/Group 84.png" alt="First slide">
              <div class="carousel-caption">
                <h4 class="h3-responsive txt-diwany-primary-24">
                  مشتل البلكونة
                </h4>
                <p class="txt-arial-lightGrey-normal-20 txt-arial-dark-bold-30">
                  احصل علي خصم
                  <span class="txt-kaushan-primary-60"> 30%</span> عند الشراء
                </p>
                <p class="txt-arial-lightGrey-normal-20">
                  العرض متاح لمدة أسبوع ابتداء من 31/5
                </p>
                <button class="btn-custom btn-custom-primary">اطلب الآن</button>
              </div>
            </mdb-carousel-item>
          </mdb-carousel>
        </div>
      </div>
    </div>
  </div>
</div>
