<div class="modal-content p-5 text-center">
  <div class="modal-header justify-content-center">
    <i class="fas fa-check-circle"></i>
  </div>
  <div class="modal-body">
    <h3 class="txt-arial-dark-bold-24">لقد تم تأكيد الطلب</h3>
    <p class="txt-arial-darkGrey-normal-18">سيتم التواصل معك قريبا من قبل المشاتل لتوفير طلبك</p>
    <p>
      <span class="txt-arial-darkGrey-normal-18">رقم الطلب: </span>
      <span class="txt-arial-dark-bold-20">{{userOrderNo}}</span>
    </p>
    <p class="txt-arial-darkGrey-normal-18">برجاء الاحتفاظ بالرقم السابق لمطابقته مع المشتل وقت الاستلام</p>
  </div>
</div>

