// import scss files
@import '../../../styles.scss';

.modal-content {
    .modal-header {
        border-bottom: none;
        i {
            font-size: 30px;
            color: $primaryColor;
        }
    }
}