<button  *ngIf="userRole==1" class="btn-custom btn-custom-primary mb-2 mr-2 fixed-bottom" (click)="openBackDropCustomClass(content)">اسأل</button>
<div class="container mb-5 pt-5">
  <div class="row">
      <div *ngIf="objData">
          <div class="question py-5" *ngFor="let questionItem of objData">
              <app-single-question [question]='questionItem' [userRole]='userRole'></app-single-question>
            </div>
      </div>
  </div>
    <!-- modal -->
    <div class="row">
        <ng-template #content let-modal>
            <div class="modal-header">
              <h4 class="modal-title"> يمكينك الان كتابة سؤالك</h4>
              <button type="button" class="close  " aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>One fine body&hellip;</p>
            </div>
            <form [formGroup]="questionForm" (ngSubmit)="handleSend(questionForm)">
                <textarea type="text"  formControlName="userQuestion" class="form-control"></textarea>
                  <div class="container">
                      <div class="row">
                          <select formControlName="selectCategory" (change)="categorySelected()" class="col-6 ml-2">
                              <option  *ngFor="let category of questionCategoryOptions" [value]="category.name">{{category.name}}</option>
                            </select>
                            <select formControlName="selectPlant" [disabled] = "selectedCategory==null" (change)="plantSelected()" class="col-6 mr-2" >
                              <option  *ngFor="let plant of questionPlantOptions" [value]="plant.id">{{plant.name}}</option>
                              </select>
                      </div>
                  </div>
                <div class="modal-footer">
                    <button type="submit" class="btn-custom btn-custom-primary ">ارسل</button>
                    <!-- <button type="button" class="btn btn-light" (click)="modal.close('Close click')">اغلق</button> -->
                </div>
            </form>
          </ng-template>
    </div>
</div>
