 // import sytle files
 @import "../../styles.scss";
//  @import "../plant-details-page-module/single-question/single-question.component.scss";
 // model style
 .light-blue-backdrop {
   background-color:$primaryColor !important;
 }
 .modal-content .close{
   left:12px;
 }
 .btn-outline-primary{
  border: 2px solid $primaryColor !important;
  background-color: transparent !important;
  color: $darkColor!important;
  &:hover,&:focus{
    border-color: $secondaryColor !important;
    background-color: transparent !important;
    color: $primaryColor !important;
  }
 }
