<button  *ngIf="userRole==1" class="btn-custom btn-custom-primary fixed-bottom btn-custom-float text-center" (click)="openBackDropCustomClass(content)">اسأل</button>
<div class="container mb-5 pt-5">
  <div class="row">
      <div *ngIf="objData">
          <div class="question py-5" *ngFor="let questionItem of objData">
              <app-single-question (triggerRefreshQuestionsPage)= "refreshQuestionPageTrigger()" [question]='questionItem' [userRole]='userRole'></app-single-question>
            </div>
      </div>
  </div>
    <!-- modal -->
    <div class="row">
        <ng-template #content let-modal>
            <div class="modal-header px-5">
              <h4 class="modal-title title text-center txt-arial-dark-bold-30">أضف سؤالك</h4>
              <button type="button" class="close  " aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body px-5 user-add-qustion-modal">
              <form [formGroup]="questionForm" (ngSubmit)="handleSend(questionForm)">
                  <textarea type="text"  formControlName="userQuestion" class="form-control p-2 mb-3" rows='3'></textarea>
                    <div class="container">
                        <div class="row">
                          <div class="col-6">
                            <label class="txt-arial-dark-bold-20 ml-4">فئة النبات</label>
                              <select formControlName="selectCategory" (change)="categorySelected()" class="ml-2 d-inline-block">
                                  <option  *ngFor="let category of questionCategoryOptions" [value]="category.name">{{category.name}}</option>
                                </select>
                          </div>
                          <div class="col-6">
                            <label class="txt-arial-dark-bold-20 ml-4">اسم النبات</label>
                            <select formControlName="selectPlant" [disabled] = "selectedCategory==null" (change)="plantSelected()" class="mr-2 d-inline-block" >
                              <option  *ngFor="let plant of questionPlantOptions" [value]="plant.id">{{plant.name}}</option>
                              </select>
                          </div>
                        </div>
                    </div>
                  <div class="modal-footer justify-content-center px-5">
                      <button type="submit" class="btn-custom btn-custom-primary ">ارسل</button>
                      <!-- <button type="button" class="btn btn-light" (click)="modal.close('Close click')">اغلق</button> -->
                  </div>
              </form>
            </div>
          </ng-template>
    </div>
    <!-- <div class="row">
        <ng-template #checkIfQuestionsExist let-modal>
            <div class="modal-header">
              <h4 class="modal-title"> Check if question exists </h4>
              <button type="button" class="close  " aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div *ngIf="retrievedPreviousRelatedQuestions">
                  <app-single-question *ngFor="let questionItem of retrievedPreviousRelatedQuestions" [question]='questionItem' [userRole]='userRole'></app-single-question>
              </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-custom btn-custom-primary" (click)="imokDontSend()">I am ok</button>
                <button type="button" class="btn btn-light" (click)="resendComment()">No, send the question</button> -->
            <!-- </div>
          </ng-template>
    </div>  -->
    <div class="row">
        <!-- <ng-template #questionSentSuccess let-modal>
            <div class="modal-header">
              <h4 class="modal-title"> Success </h4>
              <button type="button" class="close  " aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Your question has been submitted successfully
            </div>
          </ng-template> -->
          <ng-template #questionSentSuccess let-modal>
              <div class=" sass-modal-succes">
                  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                      <span aria-hidden="true">&times;</span>
                    </button>
              </div>
              <div class="modal-body p-4 text-center">
                  <i class="fas fa-check-circle mb-2"></i>
                <h3 class="txt-arial-dark-bold-20 text-center">شكرا لتفاعلك معنا</h3>
              </div>
            </ng-template>
    </div>
</div>
