  <div class="main-carousel">
    <mdb-carousel [animation]="'slide'" #myCarousel>
          <mdb-carousel-item class="position-relative">
            <img class="d-block w-100" src="../../../assets/imgs/landingPage/firstCarosle/bg-plant-1.png" alt="First slide">
            <div class="carousel-caption">
              <h3 class="h3-responsive txt-samt-primary-100">جرين هاوس</h3>
              <p class="txt-arial-lightGrey-normal-20">لوريم ايبسوم دولار سيت أميت ,كونسيكتيتور أدايبا يسكينج أليايت,سيت دو أيوسمود تيمبور
                أنكايديديونتيوت لابوري ات دولار ماجنا أليكيوا . يوت انيم أد مينيم فينايم,كيواس نوستريد </p>
            </div>
          </mdb-carousel-item>
          <mdb-carousel-item>
            <img class="d-block w-100" src="../../../assets/imgs/landingPage/firstCarosle/bg-plant-2.png" alt="Second slide">
            <div class="carousel-caption">
              <h3 class="h3-responsive txt-samt-primary-100">جرين هاوس</h3>
              <p class="txt-arial-lightGrey-normal-20">لوريم ايبسوم دولار سيت أميت ,كونسيكتيتور أدايبا يسكينج أليايت,سيت دو أيوسمود تيمبور
                أنكايديديونتيوت لابوري ات دولار ماجنا أليكيوا . يوت انيم أد مينيم فينايم,كيواس نوستريد </p>
            </div>
          </mdb-carousel-item>
          <mdb-carousel-item>
            <img class="d-block w-100" src="../../../assets/imgs/landingPage/firstCarosle/bg-plant-3.png" alt="Third slide">
            <div class="carousel-caption">
              <h3 class="h3-responsive txt-samt-primary-100">جرين هاوس</h3>
              <p class="txt-arial-lightGrey-normal-20">لوريم ايبسوم دولار سيت أميت ,كونسيكتيتور أدايبا يسكينج أليايت,سيت دو أيوسمود تيمبور
                أنكايديديونتيوت لابوري ات دولار ماجنا أليكيوا . يوت انيم أد مينيم فينايم,كيواس نوستريد </p>
            </div>
          </mdb-carousel-item>
        </mdb-carousel>
      <i class="fas fa-chevron-circle-left" (click)='previousSlide()'></i>
      <i class="fas fa-chevron-circle-right" (click)='nextSlide()'></i>
  </div>
  <div class="mobile-carousel">
    <mdb-carousel [animation]="'slide'" #myCarousel>
          <mdb-carousel-item class="position-relative">
            <img class="d-block w-100" src="../../../assets/imgs/landingPage/firstCarosle/Group 82.png" alt="First slide">
            <div class="carousel-caption">
              <h3 class="h3-responsive txt-samt-primary-100">جرين هاوس</h3>
              <p class="txt-arial-lightGrey-normal-20">لوريم ايبسوم دولار سيت أميت ,كونسيكتيتور أدايبا يسكينج أليايت,سيت دو أيوسمود تيمبور
                أنكايديديونتيوت لابوري ات دولار ماجنا أليكيوا . يوت انيم أد مينيم فينايم,كيواس نوستريد </p>
            </div>
          </mdb-carousel-item>
          <mdb-carousel-item>
            <img class="d-block w-100" src="../../../assets/imgs/landingPage/firstCarosle/Group 83.png" alt="Second slide">
            <div class="carousel-caption">
              <h3 class="h3-responsive txt-samt-primary-100">جرين هاوس</h3>
              <p class="txt-arial-lightGrey-normal-20">لوريم ايبسوم دولار سيت أميت ,كونسيكتيتور أدايبا يسكينج أليايت,سيت دو أيوسمود تيمبور
                أنكايديديونتيوت لابوري ات دولار ماجنا أليكيوا . يوت انيم أد مينيم فينايم,كيواس نوستريد </p>
            </div>
          </mdb-carousel-item>
          <mdb-carousel-item>
            <img class="d-block w-100" src="../../../assets/imgs/landingPage/firstCarosle/Rectangle 248.png" alt="Third slide">
            <div class="carousel-caption">
              <h3 class="h3-responsive txt-samt-primary-100">جرين هاوس</h3>
              <p class="txt-arial-lightGrey-normal-20">لوريم ايبسوم دولار سيت أميت ,كونسيكتيتور أدايبا يسكينج أليايت,سيت دو أيوسمود تيمبور
                أنكايديديونتيوت لابوري ات دولار ماجنا أليكيوا . يوت انيم أد مينيم فينايم,كيواس نوستريد </p>
            </div>
          </mdb-carousel-item>
        </mdb-carousel>
  </div>
