// import scss files
@import "../../styles";
// genereal layout
.btn-custom {
    @extend %btn-style;
}
.btn-custom-primary {
    @extend %primary-btn;
}
.btn-custom-ghost {
    @extend %ghost-btn;
}
// fonts
.txt-arial-dark-bold-24 {
    @extend %txt-arial-dark-bold-24;
}
.txt-arial-darkGrey-normal-20 {
    @extend %txt-arial-darkGrey-normal-20;
}
// card style
.card {
    box-shadow: 0px 0px 15px 0px rgba(201,201,201,1);
    span.icon-plant-1 {
        font-size: 3rem;
        color: $primaryColor;
    }
    span, p {
        margin-bottom: 2rem;
    }
    h5 {
        margin-bottom: 1rem;
    }
    &:hover {
        background-color: $primaryColor;
        border-color: $primaryColor;
        span.icon-plant-1, h5, p {
            color: $whiteColor;
        }
        button {
            background-color: $whiteColor;
            color: $secondaryColor;
            border: none;
        }
    }

}