
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Green-House-primary: mat-palette($mat-indigo);
$Green-House-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$Green-House-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$Green-House-theme: mat-light-theme($Green-House-primary, $Green-House-accent, $Green-House-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($Green-House-theme);

/* You can add global styles to this file, and also import other style files */

@import "./assets/scss/variables";
@import "./assets/scss/mixins";
@import "./assets/scss/placeholders";
@import "./assets/scss/basegeneral";

// general layout
.btn-custom {
  @extend %btn-style;
}
.btn-custom-primary {
  @extend %primary-btn;
}
.btn-custom-ghost {
  @extend %ghost-btn;
}
// section title style
.sec-style {
  @extend %sec-layout;
}

// fonts
.txt-arial-darkGrey-normal-24 {
  @extend %txt-arial-darkGrey-normal-24;
}
.txt-arial-dark-bold-14 {
  @extend %txt-arial-dark-bold-14;
}
.txt-arial-primary-bold-14 {
  @extend %txt-arial-primary-bold-14;
}
.txt-arial-secondary-bold-14 {
  @extend %txt-arial-secondary-bold-14;
}
.txt-arial-dark-bold-24 {
  @extend %txt-arial-dark-bold-24;
}
.txt-arial-dark-bold-20 {
  @extend %txt-arial-dark-bold-20;
}
.txt-arial-primary-bold-24 {
  @extend %txt-arial-primary-bold-24;
}
.txt-diwany-dark-50 {
  @extend %txt-diwany-dark-50;
}
.txt-arial-darkGrey-normal-20 {
  @extend %txt-arial-darkGrey-normal-20;
}
.txt-arial-lightGrey-normal-20 {
  @extend %txt-arial-lightGrey-normal-20;
}
.txt-diwany-dark-24 {
    @extend %txt-diwany-dark-24;
}
.txt-samt-dark-120 {
  @extend %txt-samt-dark-120;
}
.txt-arial-dark-bold-50 {
  @extend %txt-arial-dark-bold-50;
}
.txt-arial-darkGrey-normal-14 {
  @extend %txt-arial-darkGrey-normal-14;
}
.txt-arial-white-bold-18 {
  @extend %txt-arial-white-bold-18;
}
.txt-samt-primary-100 {
  @extend %txt-samt-primary-100;
}
.txt-arial-dark-bold-30 {
  @extend %txt-arial-dark-bold-30;
}
.txt-arial-lightGrey-bold-30 {
  @extend %txt-arial-lightGrey-bold-30;
}
.txt-diwany-primary-24 {
  @extend %txt-diwany-primary-24;
}
.txt-kaushan-primary-60 {
  @extend %txt-kaushan-primary-60;
}
.txt-arial-white-normal-14 {
  @extend %txt-arial-white-normal-14;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-datepicker-toggle-active {
  color: $primaryColor;
}