<section class="plant-questions" *ngIf="question">
  <div class="user-question">
    <div class="row">
      <div class="col-10 col-md-12">
        <span class="since-date txt-arial-faintGrey-normal-18 mb-3">{{
          question.questionTime
        }}</span>
        <p class="question-text txt-arial-lightGrey-bold-24 mb-4" *ngIf="userRole == 2">
            سؤال من {{ question.clientname }}
          </p>
        <p class="question-text txt-arial-lightGrey-bold-24 mb-4">
          {{ question.questionContain }}
        </p>
        <!-- <div class="questionTags">
          <span
            class="tags txt-arial-faintGrey-normal-24"
            *ngFor="let tag of question.questionTags"
            >#{{ tag }}
          </span>
        </div> -->
        <!-- <img
          src="{{ question.questionImgSrc }}"
          alt=""
          *ngIf="question.questionImgSrc"
          class="mt-4"
        /> -->
      </div>
    </div>
  </div>
  <p  *ngIf="userRole == 1" class="reply-count txt-arial-dark-bold-24  my-4 d-inline-block">
    عدد الردود: {{replyCount}}
  </p>

  <!-- this div is pecific for plantation allowing them to answer questions or dismiss -->
  <div class="plantation-answers">
    <div class="single-answer mb-4" *ngFor="let answer of question.answers">
      <div class="row">
        <div class="col-9 col-md-11">
          <p class="user-name txt-arial-darkGrey-bold-24  mb-2" >
            {{ answer.plantatoinname }}
          </p>
          <span class="since-date txt-arial-faintGrey-normal-18 mb-3">{{
            answer.date
          }}</span>
          <p class="question-text txt-arial-lightGrey-bold-24 mb-4">
            {{ answer.answer }}
          </p>
        </div>
      </div>
    </div>
    <div *ngIf="userRole == 2" class="d-flex align-items-end  justify-content-start">
        <div class="row d-flex justify-content-start">
          <div class="col-12 d-flex justify-content-start">
            <textarea id="plantationQuestion{{question.questionId}}" placeholder="اضف رد" cols="50"  class="p-2 mb-4" required ></textarea>
          </div>
          <div class="col-12 d-flex justify-content-start align-items-center">

            <span class="txt-arial-faintGrey-normal-18 ml-lg-2"> يمكنك إضافت إجابه من هنا لكى تظهر للمستخدم</span>
            <button class="btn-custom btn-custom-primary mr-lg-5" (click)="submitComment()">إرسل</button>
          </div>
        </div>
      </div>
    <!-- <div *ngIf="userRole == 2">
        <textarea id = "plantationQuestion{{question.questionId}}" placeholder="اضف رد" ></textarea>
        <button  class="btn-custom btn-custom-primary mb-2 mr-2" (click)="submitComment()">اسأل</button>
      </div> -->

  </div>
</section>
