// import sytle files
@import "../../../styles.scss";
.btn-primary {
  background-color:transparent !important;
  @extend %txt-arial-dark-bold-18;
}

.btn-primary:not([disabled]):not(.disabled).active{
  color:$secondaryColor !important;
  border-bottom: 2px solid $secondaryColor !important;
  background-color:transparent !important;
  @extend %txt-arial-secondary-bold-18;
  border-color: none !important;

}
.btn-primary:not([disabled]):not(.disabled):active{
  background-color: transparent !important;
  color: $darkColor;
}

.btn{
  box-shadow:none !important;
}
.sass-margin-tabs{
  margin: auto !important;
}
