@import "../../../styles.scss";

.add-new-plant-form {
    .container {
        box-shadow: 0px 0px 5px 5px rgba(224,224,224,1);
        width: 40%;
    }
    // .row  {
    //     width: 50%;
    //     margin: 0 auto;
    // }
    .add-old-plant-div, .add-new-plant-div {
        display: inline-block;
    }
    .add-old-plant-div {
        border-left: 1px solid $separatorTextGreyColor;
    }
    button.tab-btn {
        background-color: transparent;
        border: none;
        outline: none;
        border-bottom: 2px solid transparent;
        // &[name='add-old-plant'] {
        //     border: 2px solid transparent;
        //     border-bottom: none;
        // }
        &.active {
            border-color: $secondaryColor;
        }
    }
    span, label {
        margin-right: 7px;
    }
    input[type='text'] {
        width: 20%;
    }
    .error-msg {
        color: $redColor;
    }
}


